@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.display_items {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.display_items a {
  color: #28c7c5;
}

.display_ingredients tbody>tr:nth-child(2n) {
  background-color: lightgray;
}

.display_ingredients th {
  border-bottom: 1px solid black;
}

h1 {
  color: #1ea2a0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: rgba(240, 248, 255, 0.867);
}

main {
  padding: 16px;
}

footer {
  background-color: #008F8C;
  padding: 24px 16px;
  position: static;
  bottom: 0px;
}

img {
  height: 200px;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #0CABA8;
}

a {
  text-decoration: none;
}

a:visited {
  color: orange;
}

a:hover {
  color: black;
}
